.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.btn-group{
    margin-left: 50px;
    margin-top: 550px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.play-btn , .pause-btn{
    padding: 10px;
    font-size: large;
    color: white;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: transsform 0.5s;
}
.play-btn:hover{
transform: translateY(-3px);
}
.pause-btn:hover{
    transform: translateY(-3px);
    }

